<div class="row">
 <div class="col-md-12">
 <h2>Employees 
  <a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a></h2>
 <hr />
 {{#if value}}
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Employee Num</th>
      <th scope="col">Full &nbsp; Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Manager &nbsp; ID</th>
      <th scope="col">Status</th>
      <th scope="col">Department</th>
      <th scope="col">Hire on</th>
    </tr>
  </thead>
  <tbody>
    {{#each value}}
    <tr>
      <td>{{employeeNum}}</td>
      <td><a href="/employee/{{employeeNum}}">{{firstName}}&nbsp; {{lastName}} </a></td>
      <td><a href="mailto:{{email}}">{{email}}</a></td>
      <td>{{addressStreet}}, {{addressCity}}, {{addressState}}. {{addressPostal}}</td>
      <td><a href="/employees?manager={{employeeManagerNum}}">{{employeeManagerNum}}</a></td>
      <td><a href="/employees?status={{status}}">{{status}}</a></td>
      <td><a href="/employees?department={{department}}">{{department}}</a></td>
      <td>{{hireDate}}</td>
      <td> <a href="employees/delete/{{employeeNum}}" class="btn btn-danger">Remove</a></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="col-md-12 text-center">
 <strong>{{message}}</strong>
</div>
{{/if}}
 </div>
</div>